<div class="backdrop" *ngIf="showForm">
  <div class="modal">
    <div class="card-style column-wrapper" (click)="$event.stopPropagation()">
      <div class="image-container">
        <img src="../../assets/images/Background.png" alt="HomePostLogo">
        <div class="neon-text">
          <h1>THEHUB</h1>
        </div>
      </div>
      <form class="column-wrapper" #form="ngForm">
        <div>
          <label for="emailContent" class="title">Nuevo correo</label>
          <input type="email" placeholder="Correo" name="emailContent" [(ngModel)]="email" required email
            #emailContent="ngModel" class="search">
          <div *ngIf="emailContent.invalid && (emailContent.dirty || emailContent.touched)" class="error-message">
            <div *ngIf="emailContent.errors?.['required']">
              Correo requerido.
            </div>
            <div *ngIf="emailContent.errors?.['email']">
              Formato de correo no válido.
            </div>
          </div>
          <div *ngIf="!emailContent.dirty && emailErrorMessage" class="error-message">
            {{emailErrorMessage}}
          </div>
        </div>
        <div>
          <label for="password" class="title">Nueva contraseña</label>
          <input type="password" placeholder="Contraseña" name="passwordContent" [(ngModel)]="password" required
            minlength="8" #passwordContent="ngModel" class="search">
          <div *ngIf="passwordContent.invalid && (passwordContent.dirty || passwordContent.touched)"
            class="error-message">
            <div *ngIf="passwordContent.errors?.['required']">
              Contraseña requerida.
            </div>
            <div *ngIf="passwordContent.errors?.['minlength']">
              La contraseña debe tener al menos 8 caracteres.
            </div>
          </div>
          <div *ngIf="!passwordContent.dirty && passwordErrorMessage" class="error-message">
            {{passwordErrorMessage}}
          </div>
        </div>
        <div>
          <label for="passwordvalidationContent" class="title">Confirmar contraseña</label>
          <input type="password" placeholder="Confirmar contraseña" name="passwordvalidationContent"
            [(ngModel)]="passwordvalidation" required minlength="8" #passwordvalidationContent="ngModel" class="search">
          <div
            *ngIf="passwordvalidationContent.invalid && (passwordvalidationContent.dirty || passwordvalidationContent.touched)"
            class="error-message">
            <div *ngIf="passwordvalidationContent.errors?.['required']">
              Contraseña requerida.
            </div>
            <div *ngIf="passwordvalidationContent.errors?.['minlength']">
              La contraseña debe tener al menos 8 caracteres.
            </div>
          </div>
          <div *ngIf="(passwordvalidationContent.valid && (passwordvalidation != password))" class="error-message">
            Las contraseñas deben coincidir
          </div>
        </div>
        <div class="footer" style="cursor: pointer;">
          <span style="margin-right: 20px;" (click)="closeForm()">Cancelar</span>
          <button type="submit" [disabled]="!form.valid || password !== passwordvalidation"
            (click)="updateCredentials()">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>